{
  "singleQuote": true,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "proseWrap": "preserve",
  "quoteProps": "as-needed",
  "bracketSameLine": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "semi": false,
  "printWidth": 100,
  "endOfLine": "lf"
}
